<h3>Dashboard</h3>
<p>
Hybrid application demonstrates loading of an Angular JS module from an Angular 7 app with lazy loading.  
</p>
<p>
This example is a draft showing how to wrap Angular JS modules with new Angular, implementing lazy loading of Angular JS routes.</p>
<p> 
  Facilitates the upgrade of legacy Angular JS applications.
</p>

<p>
  Based on <a href='https://blog.nrwl.io/using-ngupgrade-like-a-pro-lazy-loading-angularjs-applications-469819f5c86' target="_blank">Victor Savkin article</a> and <a href ='https://github.com/jbojcic1/angular-routing-example' target="_blank">Josip Bojcic</a> example.
</p>

 